.header{
    background-color: #23242956;
    z-index: 10;
    height: 7vh;
    min-height: 30px;
    max-height: 100px;
    max-width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: -1px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 60px 30px $primaryBackground;
    border-bottom: 1px solid $blue;
    margin-bottom: -7vh;
    .mobile{
        display: none;
    }
    
    .item-box{
        width: 550px;
        margin-right:7vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link-box{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .header-item{
                font-size: 22px;
                &:hover{
                    font-size: 24px;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

    @media(max-width: 1200px){
        .item-box{
            width: 550px;
        }
    }
    @media(max-width: 850px){
        .item-box{
            width: 380px;
            margin-right: 40px;
            .header-item{
                font-size: 19px;
            }
        }
    }
    @media(max-width: 550px){
        height: 70px;
        margin-bottom: -70px;
        backdrop-filter: none;
        box-shadow: none;
        border-bottom: none;
        background-color: transparent;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        .desktop{
            display: none;
            height: 0px;
        }
        .mobile{
            z-index: 2;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            .hamburger{
                z-index: 3;
                height: 60px;
                margin: 15px 15px;
            }
            .header-item{
                width: auto;
            }
            .drop-down-container{
                width: 100%;
                .drop-down{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    height: 50vh;
                    width: 100%;
                    background-color: #00000091;
                    backdrop-filter: blur(9px);
                    padding-top: 90px;
                    padding-bottom: 10px;
                    padding-right: 15px;
                    position: relative;
                    top: -90px;
                    border-bottom: 1px solid $red;
                    p{
                        font-size: 4vh;
                    }
                }
            }
        }
        
    }
}